

#Commision-Status{
  color:#00ff11;
  text-shadow: 2px 5px 6px#393D3F;
}


.App {
  background-color: #9CC4B2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
/*Box1*/
.NavigatorContainter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #393D3F;
}

.Logo {
  flex: 1 1 auto;
}

.MainName {
  white-space: nowrap;
}

.DropDownContainer {

}
/*Box2*/
.MainContent {
  display: flex;
  flex-direction: column;
}

.CommStatus {

}

.GotoCommButton {

}

.Proposition {

}

.Gallery {

}

.CommInfo {
  
}